tqdm
spacy
jsonlines
transformers
filelock
datasets
nltk
dataclasses
sacrebleu
rouge_score
peft
bitsandbytes
einops
sentencepiece
packaging
accelerate
deepspeed
peft
evaluate
tokenizers
tensorboard
openai
tiktoken
bitsandbytes
duckduckgo_search
